hostname {{ router_name }}
!
ip unicast-routing
ip cef
{% if enable_mpls %}
mpls label protocol ldp
mpls ldp router-id Loopback0 force
{% endif %}
!
interface Loopback0
 no ip address
 ip address {{ loopback_ip }} 255.255.255.255
{% if enable_ospf %}
 ip ospf {{ ospf_process_id }} area 0
{% endif %}
!
{% for iface in interfaces %}
interface {{ iface.name }}
 no ip address
 ip address {{ iface.ip }} {{ iface.mask }}
{% if iface.ospf_enabled %}
 ip ospf {{ ospf_process_id }} area 0
{% endif %}
{% if iface.mpls_enabled %}
 mpls ip
{% endif %}
 no shutdown
!
{% endfor %}
{% if enable_ospf %}
router ospf {{ ospf_process_id }}
 router-id {{ router_id }}
 passive-interface Loopback0
!
{% endif %}
{% if bgp.enabled %}
router bgp {{ bgp.asn }}
 bgp router-id {{ bgp.router_id }}
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
{% for n in bgp.neighbors %}
 neighbor {{ n.neighbor_ip }} remote-as {{ n.remote_as }}
 neighbor {{ n.neighbor_ip }} description RR_VPNV4_to_{{ n.neighbor_name }}
 neighbor {{ n.neighbor_ip }} update-source Loopback0
{% endfor %}
 !
 address-family vpnv4
{% for n in bgp.neighbors %}
	neighbor {{ n.neighbor_ip }} activate
	neighbor {{ n.neighbor_ip }} send-community both
{% if n.is_rr_client %}
	neighbor {{ n.neighbor_ip }} route-reflector-client
{% endif %}
{% endfor %}
 exit-address-family
!
{% endif %}
write memory